
html {
    scroll-behavior: smooth;
    
}

/* fonts styles */
h5,h2{
    font-family: "Jacquard 12";
}

h1{
    font-family:"Norican" ;
}
p{
    font-family: "Special Elite";
}
h3,h4 {
    font-family: "Macondo";

}
span{
    font-family: "Kaushan Script";
}


/* header styles */
  
 header{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #0D121C;
     
    
  }
  .logo div {
    flex-grow: 1;
    width: auto;
    height: 115px;
   
  }

  .text {
    font-size: 3.6em;
    color: #B7990D;
   
  }
  .text a{
    text-decoration: none;
    color: #B7990D;
  }
  header img{
    width: 50%;
    height: 200%;
    
  } 

  /* style on middle about song */
  .about-masthead{
        height: 100vh;
        background-image: url("../imgs/fire\ and\ water\ heart.jpg"); /*background image */
        background-size:cover;
        
      }
    .about-masthead div{
        background-color: rgba(4, 4, 4, 0.84);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
      
.about-masthead h1 {
        font-size: 8.3em;
        letter-spacing: 2.5px;
        margin-bottom: 20px;
        text-align: center;
        color: #B7990D;
}

.about-masthead p{
    font-size: 3em;
    line-height: 1.5;
    text-align: center;
    color: #B7990D;
}

/* main part style */

/* video section */
.video-part {
    text-align: center; 
    background-color: #0D121C;
   
}
 .video-part h4{
    font-size:3.5em ; 
    padding:  50px;  
    color: #B7990D;  
   
} 

iframe { 
    padding: 40px;
}

/* lyrics section style */

.video-lyrics {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #020225; 
}


.left-container {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-container img {
    border: 5px solid #B7990D;
}

.right-container {
    flex: 1.1; 
    padding: 5px;
    text-align: left; 
}

.right-container h3 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #B7990D;
    padding: 10px;
   
}

.right-container p {
    font-size: 1.1em;
    line-height: 1.1;
    color: #B7990D;
}
/* for the lines of lyrics provides white space and line breaks */
.lyrics{
    white-space: pre-wrap;
} 

.right-container span{
    font-size: 1.2em;
    color: #850AD6;
}

/* footer  */
footer {
    background-color: #0D121C;
    text-align: center;
    padding: 20px;
}

footer h2 {
    font-size: 4.0em;
    color: #B7990D;
}
footer p{
    font-size: 1.0em;
    color: #B7990D;
}



   

