header{
    position: sticky;
    z-index: 1000;
    top: 0; left: 0; right: 0;
}
menu {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 list-style: none;
}
menu li{
    width: 50px;
}
menu li:nth-child(n){
 border-right: 2px solid black;
 background-color: yellow;
}
menu li:nth-last-child(1){
    border-right: 0px solid black;
    background-color: yellow;
}
@font-face {
    font-family: 'Yellowrabbit';
    src: url(../fonts/Yellowrabbit.otf);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Yellowrabbit';
}
section:nth-child(5){
    background-color: purple;
    color: #fefefe;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
section{
    height: 400px;
}
section:nth-child(3){
    background-color: aqua;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}
.cta{
    width: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.cta a{
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-decoration: none;
    font-family: 'Yellowrabbit';
    font-size: 2em;
}
.cta a:hover{
    background-color: #e1e1e1;
    color: white;
}

@media(max-width: 550px){
    section:nth-child(3){
        background-color: limegreen;
    }
}